ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 10px;
    /*grid-gap: 0 10px;*/

    li {
        /*display: inline;*/
        overflow: hidden;

        span {
            display: block;
            overflow: hidden;

            img {
                max-width: 250px;
            }
        }

    }
}